body {
  /* background-color: navy; */
  background-image: url(../images/caveBackground.gif);
  color: violet;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  /* font-size: 50px; */
  color: aqua;
  text-shadow: 10px 20px navy;
  text-align: center;
}

.instructions {
  /* opacity: 0.5; */
  background-color: black;
  box-shadow: 5px 10px 5px black;
  font-size: 10px;
  /* background: rgba(255,0,0,0.99); */

  padding: 15px;
  margin: 20px;
}

.winLoss {
  color: aqua;
  padding: 15px;
  font-size: 25px;
  background-color: navy;
  margin: 10px;
  box-shadow: 5px 10px 5px black;
  text-align: center;
  height: 50%;
}

.goalBox {
  color: aqua;
  padding: 15%;
  background-color: navy;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: 5px 10px 5px black;
  height: 100;
}

#goal {
  margin: 25px;
  /* padding: 20px; */
}

.crystals {
  height: 150px;
  margin: 20px;
}

.tally {
  background-color: navy;
  color: violet;
  text-align: center;
  padding: 15px;
  margin: 10px;
  box-shadow: 5px 10px 5px black;
}
