body {
  background-image: url(../images/caveBackground.gif);
  color: violet;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  color: aqua;
  text-shadow: 10px 20px black;
  text-align: center;
}

.instructions {
  /* opacity: 0.5; */
  background-color: black;
  border: 3px solid violet;
  box-shadow: 5px 5px 30px violet;
  font-size: 10px;
  /* background: rgba(255,0,0,0.99); */

  padding: 15px;
  margin: 20px;
}

.winLoss {
  color: #49fb35;
  border: 3px solid #49fb35;
  padding: 15px;
  font-size: 25px;
  background-color: black;
  margin: 10px;
  box-shadow: 5px 5px 30px #49fb35;
  text-align: center;
  height: 50%;
}

.goalBox {
  color: aqua;
  padding: 15%;
  background-color: black;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  border: 3px solid aqua;
  box-shadow: 5px 5px 30px aqua;
  height: 100;
}

#goal {
  margin: 30px;
}

.crystals {
  height: 200px;
  margin: 20px;
}

.tally {
  background-color: black;
  color: #FFA500;
  border: 3px solid #FFA500;
  text-align: center;
  padding: 15px;
  margin: 10px;
  box-shadow: 5px 5px 30px #FFA500;
}

#score {
  margin: 40px;
  font-size: 30px;
}

#BlueCrystal {
  border: 3px solid aqua;
  box-shadow: 5px 15px 50px aqua;
  padding: 15px;
}

#OrangeCrystal {
  border: 3px solid #FFA500;
  box-shadow: 5px 15px 50px #FFA500;
  padding: 15px;
}

#PurpleCrystal {
  border: 3px solid violet;
  box-shadow: 5px 15px 50px violet;
  padding: 15px;
}

#GreenCrystal {
  border: 3px solid #49fb35;
  box-shadow: 5px 15px 50px #49fb35;
  padding: 15px;
}
